<header>
  <ul>
    <li>{{link-to "Admin" "external-admin.posts"}}</li>
    <li>{{link-to "Blog" "in-app-blog.posts"}}</li>
  </ul>
  {{link-to "Create Post" "external-admin.posts.new" tagName="button"}}
</header>
<h1>Large Company Umbrella</h1>

{{outlet}}
